.free-meetings-card {
  background-color: #a8ebef;
  height: 125px;
  width: 100%;
  border-radius: 63px;
  position: relative;
  & .creativeMind-icon {
    height: 62.56px;
    width: 52.39px;
    position: absolute;
    right: 20%;
    object-fit: contain;
    @media (max-width: 700px) {
      right: 10%;
      height: 35.56px;
      width: 28.39px;
    }
  }
  & .join-free-meeting-btn{
    color: #4A3985;
    border-color: #4A3985;
    &:hover{
      color: #fff;
      background-color: #4A3985;
    }
  }
  & .meeting-name {
    font-size: 19px;
    font-family: TheSansArabBold;
    color: #4a3985;
  }
  & .date-container {
    & .dateBagIcon-icon {
      width: 20px;
      height: 20px;
    }
    & .documentTimeIcon-icon {
      width: 20px;
      height: 20px;
    }
  }
}
