$main-color: #4b3a85 
$sub-color : #2bc3cc
.competition-box-empty
    background: #fff
    width: 100%
    border-radius: 8px
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    height: 100px
    padding: 10px 15px 10px 15px
.competition-box
    position: relative
    background: #fff
    width: 100%
    border-radius: 8px
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    height: 100px
    padding: 10px 15px 10px 15px
    background-image: url('/assets/images/pages-bg.png')
    background-size: cover
    background-repeat: no-repeat
    background-position: top center
    margin-bottom: 45px 
    .box-img
        position: absolute
        background: #fff
        width: 70px
        height: 70px
        border-radius: 4px
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        display: flex
        align-items: center
        justify-content: center
        top: -30px
        left: 15px
    .box-body
        margin-left: 80px     
        h6
            font-size: 15px
        .red-label
            background-color: #f66271
            height: 20px
            border-radius: 4px
            font-size: 10px
            margin-bottom: 0
            padding: 0px 8px 0px 8px
            display: flex
            align-items: center
            width: 130px
        .light-label
            background-color: #2bc3cc
            height: 20px
            border-radius: 4px
            font-size: 10px
            margin-bottom: 0
            padding: 0px 8px 0px 8px
            display: flex
            align-items: center
            width: 75px    
.competition-item
    padding: 25px 20px 25px 20px
    .title
        width: 100%
        height: 115px
        border-radius: 12px
        padding: 10px 25px 10px 25px
        background-image: linear-gradient(97deg, #2bc3cc, #6c53bf)

.shadow-box
    background: #fff
    width: 100%
    border-radius: 12px
    box-shadow: -8px 10px #f2fafc
    border: 1px solid #f2fafc 
    height: 100px
    padding: 10px 15px 10px 15px
    margin-bottom: 25px
.shadow-box.custom-height
    height: 120px
    margin-bottom: 35px    
.members-circle
    background-image: linear-gradient(to bottom, #2bc3cc, #6141cc)
    font-size: 12px 
    border: 1px solid #ffffff
    width: 35px
    height: 35px
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    border-radius: 50px
    display: flex
    align-items: center
    justify-content: center              
.title-circle
    background-color: #fff
    width: 40px
    height: 40px
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    border-radius: 50px
    display: inline-flex
    align-items: center
    justify-content: center
    margin-left: -40px
    z-index: 10

.zoom-circle
    background-color: #fff
    width: 56px
    height: 56px
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    border-radius: 50px
    display: inline-flex
    align-items: center
    justify-content: center
    margin-left: -74px
    z-index: 10
    img
        object-fit: contain
        height: 38px
        width: 100%
.number-circle
    background-color: #4a3985
    width: 40px
    height: 40px
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    border-radius: 50px
    display: inline-flex
    align-items: center
    justify-content: center
    margin-left: -40px
    z-index: 10
    h4
        object-fit: contain
        height: 23px
        color: #fff
.title-groups
    color: #fff !important
    background-color: #f66271 
    border: 1px solid #fff
    border-radius: 20px
    padding-bottom: 7px
    padding-left: 10px
    padding-top: 7px
    padding-right: 10px
.input-model
    color: #4a3985 !important
    border: 2px solid #4a3985
    border-radius: 20px
    margin-right: 50px
.label-model
    color: #4a3985 !important
    margin-right: 50px
.role-groups
    color: #343532 !important
    background-color: #f66271 
    border-radius: 20px
    padding-bottom: 7px
    padding-left: 10px
    padding-top: 7px
    padding-right: 10px
.icon-circle
    background-color: #fff
    width: 90px
    height: 90px
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16)
    border-radius: 50px
    display: inline-flex
    align-items: center
    justify-content: center
    img
        object-fit: contain
        height: 45px
        width: 100%
.initiative-icon-circle
    background-color: #fff
    width: 170px
    height: 170px
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16)
    border-radius: 100px
    display: inline-flex
    align-items: center
    justify-content: center
    img
        object-fit: contain
        height: 100%
        width: 100%
.question-card
    position: relative
    width: 100%
    height: 140px
    border-radius: 5px
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16)
    background-color: #ffffff
    border-top: 10px solid #f4fcfd
    padding: 10px 0px 10px 0px
    margin-bottom: 45px
    .answer-label
        background-color: #f8f8f8
        height: 28px
        display: flex
        align-items: center
        justify-content: center
        border-top-left-radius: 4px
        border-bottom-left-radius: 4px
    .favorite-label
        height: 28px
        display: flex
        align-items: center
        padding-left: 10px
        justify-content: center
    .question-body
        padding: 15px 10px 0px 10px
    .question-footer
        padding-left: 10px
        height: 30px
        position: absolute
        left: 5px
        bottom: 0
    .answers-ratio
        background-color: #f4fcfd
        //height: 70px
        //padding: 10px 15px 10px 15px
        border-radius: 5px
        width: 60%
        //position: absolute
        //left: 0
        //right: 0
        //margin-left: auto
        //margin-right: auto
        //bottom: -30px
.react-sweet-progress-symbol
    padding-right: 5px
    padding-left: 0px
    font-size: 11px
    color: #4b3a85
.key-circle 
    height: 30px
    width: 30px
    border-radius: 50px
    color: #FFF
    display: flex
    align-items: center
    justify-content: center
    margin-left: 10px
    font-size: 12px
    &.success
        background-color: #2bc3cc
    &.failure
        background-color: #f66271
.max-height-80
    max-height: 80px
.mb-6 
    margin-bottom: 6rem
.tab-img 
  border: 1px solid $main-color
  border-radius: 25px
  width: 80px
  height: 80px
  line-height: 80px
  text-align: center
  margin: auto
.hemma-logo 
    display: flex !important
    margin-bottom: 15px
.btn-title  
  display: block 
  min-width: 130px 
  text-align: center 
  background-color: $sub-color 
  color:  $main-color !important 
  border-radius: 50px 
  border: 1px solid transparent 
  padding-left: 15px 
  padding-right: 15px 
  font-size: .8rem 
  height: 30px 
  line-height: 30px 
  font-weight: bold 
  -webkit-transition: all 0.3s ease-in-out 
  -moz-transition: all 0.3s ease-in-out 
  -ms-transition: all 0.3s ease-in-out 
  -o-transition: all 0.3s ease-in-out 
  transition: all 0.3s ease-in-out 
  cursor: pointer 
 
.btn-title{&:hover  
  background-color:  $main-color 
  color: $sub-color !important }
 

.lic-title  
  margin-left: 30px 
 

.tab-img  
  border: 1px solid  $main-color 
  border-radius: 25px 
  width: 80px 
  height: 80px 
  line-height: 80px 
  text-align: center 
  margin: auto 
 

.tab-items.active .tab-img  
  background-color:  $main-color
 
.card-ele  
  border-radius: 32px 
  box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.1 )
  margin: 0px 0 30px 
  transition: all .2s ease-in-out
 
.card-ele{&:hover  
  background:  $main-color 
  color: #FFF }
 
.card-ele:hover .main-color
  color: #FFF !important
.card-ele:hover .sub-color
  color: #FFF !important
.card-img
  position: relative
  top: -80px
img[alt="Human"]  
  max-height: 200px 
 
.img-tag  
  position: absolute 
  bottom: -15px 
  left: 50% 
  transform: translateX(-50% )
  background: $sub-color 
  color: #FFF 
  padding: 5px 20px 
  border-radius: 50px 
 
.input-area  
  position: relative 
 
.input-area input[type="text"]::placeholder
  color: #c6c8ca
.input-area .input-close
  position: absolute
  top: 50%
  left: 10px
  transform: translateY(-50%)
  color: #c6c8ca
 
.btn-card-area  
  position: absolute 
  bottom: 20px 
  left: 50% 
  transform: translateX(-50%)
 
.card-gradient  
  background-image: linear-gradient(to bottom, #79ccda, #8a9cd2)
  border: 0
 
.search-btn.cursor-pointer  
  position: absolute 
  top: 50% 
  left: 20px 
  transform: translateY(-50%) 
  color: #c6c8ca 
 
.gray-tag  
  background: #f6f6f6 
  border-radius: 50px 
  color: #d4d4d4 
  font-weight: bold 
  text-align: center 
  max-width: 155px 
  margin-bottom: 10px 
  padding: 5px 20px 
  cursor: pointer
 
.price-tag 
  max-width: 155px 
  background: $sub-color 
  color: #FFF 
  padding: 5px 20px 
  border-radius: 50px 
  text-align: center 
  cursor: pointer
  margin-bottom: 10px



