$dark-blue: #4b3a85 
$light-blue: #2bc3cc 
$white: #FFF 
$black: #000000 
$red: #f66271 
$silver: #dbdbdb 
$dark-silver: #a9acb4 
$yellow: #ffe552

.pb-0
  padding-bottom: 0px !important
.silver-bg
  background-color: #fbfbfb
.badge
   padding: 5px 15px 5px 15px
   font-size: 70%
.blue-status
   background-color: $light-blue
   color: $white
.yellow-status
   background-color: $yellow
   color: $dark-blue   
   
.seperator
    float: left
    height: 100px
    width: 1px
    background-color: $silver
    margin-left: 25px
.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .bs-tooltip-bottom .arrow::before
    border-bottom-color: #f2fdfe
.bs-tooltip-auto[x-placement^=top] .arrow::before, .bs-tooltip-top .arrow::before
    border-top-color: #f2fdfe
.bs-tooltip-auto[x-placement^=top] .arrow::before, .bs-tooltip-right .arrow::before
    border-right-color: #f2fdfe
.bs-tooltip-auto[x-placement^=top] .arrow::before, .bs-tooltip-left .arrow::before
    border-left-color: #f2fdfe                
.tooltip.show
    opacity: 1    
.right-input-icon
  top: 10px
  right: 10px
  z-index: 10
.left-input-icon
  top: 10px
  left: 10px
  z-index: 10
.left-input-icon.custom-top
  top: 14px  
