
.white-bg{
    background-color: #fff !important;
}

.flex-root{
    flex: 1 !important;
}

.h-fit{
    height: fit-content !important;
}
.subscription-wrapper{

    h4{
        color: #fff !important;
    }
    

    .card-ele:hover{
        color: inherit !important;
    }
  

   & input{

    &::placeholder{
        font-size: 15px;
        padding: 0 !important;
    }

    }

   & .card-ele{
        &.with-bg-img {
            background-size: cover !important;
        }
        border-radius: 32px !important;
    }
    
}



.card-ele{
    &:hover{
    }
}

.text-white{
    color: #fff !important;

    & *{
        color: #fff;
    }

    & .main-color{
        color: #fff;
    }
}