.page-container {
  & .table {
    width: 100%;
    & .table-header {
    }
    & .table-body {
    }
  }
}

.sections-title {
  font-size: 20px;
  &:hover {
    color: #4472c4;
  }
}

.section {
  & .section-title {
    color: #4472c4;
  }
  & .section-title1 {
    color: #4472c4;
  }
  & .section-descriptions {
    line-height: 40px;
    font-size: 18px;
    @media (max-width: 700px) {
       font-size: 15px;
    }
  }
}

.table-title {
  background-color: #4472c4;
  color: #fff;
}
