$dark-blue: #4b3a85 
$light-blue: #2bc3cc
$mid-blue: #6c53bf 
$white: #FFF 
$black: #000000 
$red: #f66271 
$silver: #dbdbdb
$light-silver: #f2f2f2 
$dark-silver: #a9acb4
$off-white: #fefefe 

.section-padding
  padding: 50px 0 80px 0
  &.testimonials-section
    padding: 50px 0 150px 0

.categories-box
  border: 2px solid #2bc3cc
  border-radius: 30px
  height: 200px
  width: 100%
  padding: 15px
  margin-bottom: 30px
  img
    height: 80px
    width: 80px
    object-fit: contain
    margin-bottom: 15px
  h6
    font-size: 22px

.slider-box
  border: 1px solid $silver
  border-radius: 5px
  max-width: 330px

.category-group-box
  border-radius: 20px
  min-height: 150px
  width: 100%
  margin-bottom: 30px
  background-image: linear-gradient(to bottom, #79ccda, #8a9cd2)
  padding: 20px
  img
    width: 100%
    height: 100%

.carousel-indicators
  bottom: -50px
  li
    width: 8px
    height: 8px
    border-radius: 50%
    background-color: $dark-blue
.carousel-caption
  padding-bottom: 0px
  padding-top: 0px
  position: absolute
  top: 50%
  -ms-transform: translateY(-50%)
  transform: translateY(-50%)
.testimonials-section
  .quotes
    position: relative
    img
      width: 100%
      object-fit: contain
      height: 220px
      opacity: 0.3
    h1
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      z-index: 10
  .slick-slider
    .slick-list
      overflow: visible
    .slick-dots
      bottom: -50px
      li
        width: 10px
        button:before
          color: #6c53bf
          font-size: 10px
  .testimonial-slide
    background: $white
    width: 100%
    border-radius: 12px
    box-shadow: 15px 15px #f2fafc
    border: 1px solid #f2fafc
    height: 180px
    padding: 10px 20px 10px 20px
    display: inline-flex !important
    justify-content: center !important
    flex-direction: column !important
    p
      word-break: break-word
