.hero-section
   background-image: url(/assets/images/shape-flying.png)
   background-repeat: no-repeat
   background-position: right
   background-size: contain
.categories-section
   background-image: url(/assets/images/green-shape.png)
   background-repeat: no-repeat
   background-position: right
   background-size: contain   
.journey-section
   background-image: url(/assets/images/cloud-bg.png)
   background-repeat: no-repeat
   background-position: center center
   background-size: cover
   margin-top: 50px
   padding-bottom: 50px    
.padder
   padding-top: 320px
   padding-bottom: 40px   
.section-padder
   padding-top: 100px   