.course-card
   min-height: 300px
   .card-img-top
      height: 180px
      object-fit: cover
      object-position: center
   .card-body
     .card-title
        min-height: 30px
        margin-bottom: 10px
   .card-body>p
      min-height: 30px     
   .card-footer
      background-color: #FFF
      border-top: none
      padding: 0px 20px 20px 20px
      display: none
.course-card:hover
   .card-footer
      display: block
      transition: display ease-out 0.3s    