.course-card
   min-height: 345px
   .card-img-top
      height: 200px
      object-fit: cover
   .card-body
     .card-title
        min-height: 40px
        margin-bottom: 10px
   .card-footer
      background-color: #FFF
      border-top: none
      padding: 0px 20px 20px 20px
      display: none
.course-card:hover
   .card-footer
      display: block
      transition: display ease-out 0.3s    