$dark-blue: #4b3a85 
$light-blue: #2bc3cc
$mid-blue: #6c53bf 
$white: #FFF 
$black: #000000 
$red: #f66271 
$silver: #dbdbdb
$light-silver: #f2f2f2 
$dark-silver: #a9acb4
$off-white: #fefefe 
@font-face 
    font-family: GessLight 
    src: url("/assets/fonts/GESSLight.otf") 
@font-face 
    font-family: GessMedium 
    src: url("/assets/fonts/GESSMedium.otf") 
@font-face 
    font-family: GessBold 
    src: url("/assets/fonts/GESSBold.otf") 
@font-face 
    font-family: MontserratMedium 
    src: url("/assets/fonts/MontserratMedium.ttf")
@font-face 
    font-family: MontserratRegular
    src: url("/assets/fonts/MontserratRegular.ttf")          
html,body 
    font-family: "GessMedium" 
    direction: rtl
    height: 100%
/*General styles
a:hover, a:focus, a:active
  text-decoration: none
  color: inherit
  outline: none    
.form-control:focus, .form-control:focus, .form-control:hover
  outline: 0
  box-shadow: none
  border-color: $silver
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus, button.active.focus, button.active:focus, button.focus, button:active.focus, button:active:focus, button:focus
  outline: 0
  box-shadow: none
.br-5
    border-radius: 5px !important
.w-40
    width: 40% !important
.h-55
    height: 55px        
.radius-top-0
    border-top-right-radius: 0px !important
    border-top-left-radius: 0px !important
.radius-bottom-0
    border-bottom-left-radius: 0px !important
    border-bottom-right-radius: 0px !important           
.en-text
    font-family: MontserratMedium
.dark-text
    color: $dark-blue !important
.line-through-text
    text-decoration: line-through    
.br-left-0
    border-top-left-radius: 0px !important
    border-bottom-left-radius: 0px !important
.justify-content-evenly
    justify-content: space-evenly    
.light-text
    color: $light-blue
.red-text
    color: $red    
.mid-text
    color: $mid-blue !important    
.dark-silver-text
    color: $dark-silver
.silver-text
    color: $silver    
.dark-bg
    background: $dark-blue
.light-bg
    background-color: $light-blue
.silver-bg
    background-color: $light-silver    
.off-white-bg
    background-color: $off-white          
.light-font-text
    font-family: GessLight
.cover-img
    object-fit: cover
    object-position: left
.contain-img
    object-fit: contain
.smaller
    font-size: 65% !important
.light-border
    border: 1px solid $light-blue !important 
.white-border
    border: 1px solid $white !important                    
.underlined-tabs
    li
        width: 100px
        text-align: center
    li>a.active
        color: $light-blue
    li>a:after
        display: block
        content: ""
        border-bottom: 2px solid $light-blue
        transform: scaleX(0)
        transition: transform 250ms ease-in-out
        transform-origin: 100% 50%
        margin: 0 auto
        margin-top: 5px
        width: 85%
    li>a:hover:after, li>a.active:after
            transform: scaleX(1)
            ransform-origin: 0 50%    
          
form
    .input-group>.custom-select:not(:last-child), .input-group>.form-control:not(:last-child)
        border-top-left-radius: 5px
        border-bottom-left-radius: 5px
    input.form-control::placeholder, textarea.form-control::placeholder
        color: $silver
        font-size: 12px
    input.form-control
        color: $dark-blue
        height: 40px
        border-radius: 5px
        border: 1px solid $silver
        font-size: 13px
    select.form-control
        color: $silver
        height: 40px
        border-radius: 5px
        border: 1px solid $silver
        font-size: 12px        
    .input-group-text
        background-color: $white
        border: 1px solid $silver
        height: 40px
        svg
            color: $silver
            font-size: 18px  
    input.ltr-input
        direction: ltr
        font-family: MontserratMedium
    input.ltr-input::-webkit-input-placeholder
        direction: rtl
        font-family: GessMedium
    small
        color: $red
        font-size: 10px
        padding-top: 5px
    .input-error>.input-group-prepend>.input-group-text, .input-error>input.form-control, .input-error>.intl-tel-input>input
        border: 1px solid $red
        svg
            color: $red 
    .input-success>.input-group-prepend>.input-group-text, .input-success>input.form-control, .input-success>.intl-tel-input>input
        border: 1px solid $light-blue
        svg
            color: $light-blue             
form.centered
    margin: 0 auto
    width: 50%
a.btn
    line-height: 25px    
.dark-outline-btn
    border-radius: 50px
    border: 1px solid $dark-blue
    color: $dark-blue
    height: 40px
    font-size: 13px
    &:hover, &:focus
        background-color: $dark-blue
        color: $white
        transition: background-color ease-out 0.3s  
.dark-btn
    border-radius: 50px
    border: 1px solid $dark-blue
    color: $white
    height: 40px
    font-size: 13px
    background-color: $dark-blue
    &:hover, &:focus
        background-color: $white
        border: 1px solid $dark-blue
        color: $dark-blue    
.light-outline-btn
    border-radius: 50px
    border: 1px solid $light-blue
    color: $light-blue
    height: 40px
    font-size: 13px
    &:hover, &:focus
        background-color: $light-blue
        color: $white
        transition: background-color ease-out 0.3s  
.intl-tel-input
    direction: ltr
    width: 100%
    font-family: MontserratMedium
.phone-button
    width: 32px
    height: 32px
    display: flex
    align-items: center
    justify-content: center
    margin-right: 3px
    align-self: center
    background-color: #9786d2
    bottom: 20px
.react-code-input
    direction: ltr
    input
        font-family: MontserratMedium !important
        box-shadow: none !important
        outline: 0 !important
        text-align: center !important
        color: $dark-blue !important
        width: 36px !important
        height: 36px !important
        font-size: 18px !important
        padding-left: 0px !important
        margin: 4px !important
        border-radius: 4px !important

.swal-title, .swal-text
    color: $dark-blue      

.half-circle-border
    width: 150px
    height: 75px
    border-top-left-radius: 85px
    border-top-right-radius: 85px
    border: 5px solid $light-silver
    border-bottom: 0
.gradient-bg
    width: 70px
    height: 70px
    opacity: 0.7
    border-radius: 13.5px
    background-image: linear-gradient(145deg, #2bc3cc, #6141cc)    
.unset-height
    height: unset !important
 
.box-layout
   border: 1px solid $silver
   border-radius: 5px
.slick-prev:before, .slick-next:before
   color: $dark-blue
.slick-list > .slick-track 
    margin-right: 0    
.ball-clip-rotate > div
    margin: 0px
.intl-tel-input .selected-flag:focus
    outline: 0
    box-shadow: none
.disabled-input
    .input-group-prepend
        .input-group-text
            background-color: #e9ecef
.rdtOpen .rdtPicker
    font-family: MontserratRegular
.rdt
    direction: ltr    
    input
        direction: ltr 
        font-family: MontserratRegular 
   
@media only screen and (max-width: 767px)
    .w-25, .w-75, .w-40
        width: 100% !important 
    .navbar-light .navbar-toggler
        border-color: $white
    .hero-section
        margin-top: 50px
        margin-bottom: 25px
        h2
            font-size: 1.5rem
            text-align: center
            margin-bottom: 25px
    .testimonials-section
        padding-top: 60px
        margin-bottom: 70px                   
    .categories-section
        padding-top: 0px
        background-size: 50%
    .section-padder
        padding-top: 50px
        padding-bottom: 30px
    .custom-tag
        min-height: 220px !important
    .slick-prev, .slick-next
        display: none !important
    form.centered
        width: 70%
    .artwork-img
        height: unset
        width: 100%                            