$dark-blue: #4b3a85 
$light-blue: #2bc3cc 
$white: #FFF 
$black: #000000 
$red: #f66271 
$silver: #dbdbdb 
$dark-silver: #a9acb4 
@font-face 
    font-family: GessLight 
    src: url("/assets/fonts/GESSLight.otf") 
@font-face 
    font-family: GessMedium 
    src: url("/assets/fonts/GESSMedium.otf") 
@font-face 
    font-family: GessBold 
    src: url("/assets/fonts/GESSBold.otf") 
@font-face 
    font-family: MontserratRegular 
    src: url("/assets/fonts/MontserratRegular.ttf")     
html,body 
    font-family: "GessMedium" 
    direction: rtl
/*General styles
a:hover, a:focus, a:active
  text-decoration: none
  color: inherit
  outline: none    
.form-control:focus, .form-control:focus, .form-control:hover
  outline: 0
  box-shadow: none
  border-color: $silver
.en-text
    font-family: MontserratRegular
.dark-text
    color: $dark-blue

.light-text
    color: $light-blue
.dark-silver-text
    color: $dark-silver
.dark-bg
    background: $dark-blue

.light-font-text
    font-family: GessLight
.underlined-tabs
    li
        width: 100px
        text-align: center
    li>a.active
        color: $light-blue
    li>a:after
        display: block
        content: ""
        border-bottom: 2px solid $light-blue
        transform: scaleX(0)
        transition: transform 250ms ease-in-out
        transform-origin: 100% 50%
        margin: 0 auto
        margin-top: 5px
        width: 85%
    li>a:hover:after, li>a.active:after
            transform: scaleX(1)
            ransform-origin: 0 50%    

form
    .input-group>.custom-select:not(:last-child), .input-group>.form-control:not(:last-child)
        border-top-left-radius: 5px
        border-bottom-left-radius: 5px
    input.form-control::placeholder
        color: $silver
        font-family: GESSLight 
    input.form-control
        color: $dark-blue
        height: 40px
        border-radius: 5px
        border: 1px solid $silver
        font-size: 13px
    .input-group-text
        background-color: $white
        border: 1px solid $silver
        height: 40px
        svg
            color: $silver
            font-size: 18px
    .dark-outline-btn
        border-radius: 50px
        border: 1px solid $dark-blue
        color: $dark-blue
        height: 40px
        font-size: 13px
    input.ltr-input
        direction: ltr
        font-family: MontserratRegular
    input.ltr-input::-webkit-input-placeholder
        direction: rtl
    small
        color: $red
        font-size: 10px
        padding-top: 5px
    .input-error>.input-group-prepend>.input-group-text, .input-error>input.form-control
        border: 1px solid $red
        svg
            color: $red    
form.centered
    margin: 0 auto
    width: 50%

.intl-tel-input
    direction: ltr
    width: 100%


   