figure > img {
  width: 100% !important;
}

.break-word {
  word-break: break-word !important;
}
.question-container {
  img {
    max-width: 100%;
  }
}
.page-item.active .page-link {
  z-index: 2;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}