.box-layout {
  & video {
    max-height: 50vh !important;
  }
}

.encoded-text{
    & p{
        max-width: 100% !important;
        word-break: break-word !important;
        white-space: normal;
    }

    & img{
      width: 100% !important;
      height: auto !important;
    }
}
.break-word {
  word-break: break-word !important;
  max-width: 100% !important;
  white-space: normal;
}

@media (max-width: 767px) {
  & .fill-at-mobile {
    width: 100% !important;
  }
}
