.box-layout {
  & video {
    max-height: 50vh !important;
  }
}

.encoded-text{
    & p{
        max-width: 100% !important;
        word-break: break-word !important;
        white-space: normal;
    }

    & img{
      width: 100% !important;
      height: auto !important;
    }
}
.break-word {
  word-break: break-word !important;
  max-width: 100% !important;
  white-space: normal;
}

@media (max-width: 767px) {
  & .fill-at-mobile {
    width: 100% !important;
  }
}

@keyframes animate-downs {
  from{
    opacity: 0;
    transform: translateY(-30px);
  }
  to{
    opacity: 1;
    transform: translateY(0px);
  }
}

.animate-down{
  animation:  animate-downs 0.7s  cubic-bezier(0.075, 0.82, 0.165, 1);
}

.mx-180{
  max-width: 180px;
}