.box-layout {
  & video {
    max-height: 50vh !important;
  }
}

.break-word {
  word-break: break-word !important;
}

.encoded-text {
  & p {
    max-width: 100% !important;

    word-wrap: break-word !important;
  }
}
