.card-sm
  background-color: #FFF
  min-height: 170px
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1)
  overflow: hidden
  -webkit-transition: box-shadow 0.5s
  transition: box-shadow 0.5s
  margin-bottom: 25px
  &:hover
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.3)
  .card-thumb
    height: 100px
    object-fit: cover
  .card-body
    position: relative
    height: 40px
    padding: 10px 15px 10px 15px 
    -webkit-transition: height 0.5s
    transition: height 0.5s
