.card-sm
  background-color: #FFF
  min-height: 170px
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1)
  overflow: hidden
  -webkit-transition: box-shadow 0.5s
  transition: box-shadow 0.5s
  margin-bottom: 25px
  &:hover
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.3)
  .card-thumb
    height: 100px
    object-fit: cover
  .card-body
    position: relative
    height: 40px
    padding: 10px 15px 10px 15px 
    -webkit-transition: height 0.5s
    transition: height 0.5s

.custom-control-label::before
  background-color: transparent
  width: 0.8rem
  height: 0.8rem
  top: 3px  
.light-hr
  border-top: 1px solid #ddd6f2
 
.chat-collapse
  border: 1px solid #dfdfdf
  border-radius: 5px
  background-color: #fbfbfb
  .tab-content
    border-top: 1px solid #dfdfdf
    padding: 10px 0px 0px 0px
    height: 300px
    position: relative
    .chat-item
      padding-right: 15px
      padding-left: 15px
      height: 40px
      &:hover
        background-color: #f4f4f4
        cursor: pointer
        transition: all ease-out 0.3s
        .chat-img
          opacity: 1
      .chat-img
        opacity: 0   
.chat-tabs
  li
    .nav-link
      border: none
      color: #a9acb4
      font-size: 12px
      text-align: center
      cursor: pointer
      background-color: #fbfbfb
      &.active
        background-color: #a9acb4
        color: #FFF  
    &:first-child
      border-top-left-radius: 0px
      
.speech-bubble
  background: #f7f7f7
  -webkit-border-radius: 4px
  border-radius: 4px
  max-width: 100%
  padding: 15px
  position: relative
  margin-top: 20px
  border: solid 1px #dbdbdb
  p
    color: #a9acb4
    font-size: 9px
  &::before
    border-left: 15px solid transparent
    border-bottom: 15px solid #f7f7f7
    top: -15px
    content: ""
    position: absolute
    right: 10px

.chat-input
  position: absolute
  bottom: 0
  right: 0
  left: 0
  background-color: #fbfbfb
  border-top: 1px solid #dfdfdf
  border-bottom-left-radius: 5px
  border-bottom-right-radius: 5px
  height: 45px
  .circle-btn
    height: 30px
    width: 35px
    background-color: #2bc3cc
    border-top-right-radius: unset
    border-bottom-right-radius: unset
    border-radius: 50%
    padding: 0px
    img
      transform: rotate(180deg)

.list-item
  padding-right: 15px
  padding-left: 15px
  height: 40px
  &:hover
    background-color: #f4f4f4
    cursor: pointer
    transition: all ease-out 0.3s

.accordion-head
  background-color: #9786d2 !important
  padding: 10px 15px 10px 15px !important
  margin-bottom: 10px
.accordion-head:hover
  background-color: #6c53bf !important
  transition: background-color ease-out 0.3s  
.panel-accordion
  padding: 0px !important
  margin-bottom: 15px  

@media only screen and (max-width: 767px)                          
    .responsive-margin
      margin-top: 15px
   