.publication-overlay 
    position: absolute
    right: 0
    left: 0
    bottom: 0
    top: 0px
    background-color: rgba(0, 0, 0, 0.5)
    z-index: 10
    height: 100%
    width: 100%
    display: flex
    align-items: center
    justify-content: center
    opacity: 0
    border-radius: 8px
    margin: 0 auto
    cursor: pointer 
.publication-img
  position: relative
  &:hover
      .publication-overlay
          opacity: 1
          transition: opacity ease-out 0.3s
     
