.text-confirm-alert {
  color: #4b3a85;
}
.close-confirm-alert {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #4b3a85;
  cursor: pointer;
}

.confirm-button {
  background-color: #4b3a85;
}
